[submodule "host/libmirisdr"]
	path = host/libmirisdr
	url = https://github.com/BillyWoods/libmirisdr.git
[submodule "host/gr-osmosdr"]
	path = host/gr-osmosdr
	url = https://github.com/BillyWoods/gr-osmosdr.git
